@charset "UTF-8";

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
  
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}

h1 { font-size: 2.5rem; }
  
h2 { font-size: 2rem; }
  
h3 { font-size: 1.75rem; }
  
h4 { font-size: 1.5rem; }
  
h5 { font-size: 1.25rem; }
  
h6 { font-size: 1rem; }

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

small { font-size: 80%; }

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.text-lowercase {
    text-transform: lowercase !important;
}
  
.text-uppercase {
    text-transform: uppercase !important;
}
  
.text-capitalize {
    text-transform: capitalize !important;
}
  
.font-weight-light {
    font-weight: 300 !important;
}
  
.font-weight-lighter {
    font-weight: lighter !important;
}
  
.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}
  
.font-weight-bold {
    font-weight: 700 !important;
}
  
.font-weight-bolder {
    font-weight: bolder !important;
}
  
.font-italic {
    font-style: italic !important;
}
  
.text-white {
    color: #fff !important;
}
  
.text-primary {
    color: #fed136 !important;
}

/** Alinhamento */
.align-baseline {
    vertical-align: baseline !important;
}
  
.align-top {
    vertical-align: top !important;
}
  
.align-middle {
    vertical-align: middle !important;
}
  
.align-bottom {
    vertical-align: bottom !important;
}
  
.align-text-bottom {
    vertical-align: text-bottom !important;
}
  
.align-text-top {
    vertical-align: text-top !important;
}

/** BG COLOR */  
.bg-primary {
    background-color: #fed136 !important;
}
  
a.bg-primary:hover, a.bg-primary:focus,
  button.bg-primary:hover,
  button.bg-primary:focus {
    background-color: #fec503 !important;
}
  
.bg-secondary {
    background-color: #6c757d !important;
}
  
a.bg-secondary:hover, a.bg-secondary:focus,
  button.bg-secondary:hover,
  button.bg-secondary:focus {
    background-color: #545b62 !important;
}
  
.bg-success {
    background-color: #28a745 !important;
}
  
a.bg-success:hover, a.bg-success:focus,
  button.bg-success:hover,
  button.bg-success:focus {
    background-color: #1e7e34 !important;
}
  
.bg-info {
    background-color: #17a2b8 !important;
}
  
a.bg-info:hover, a.bg-info:focus,
  button.bg-info:hover,
  button.bg-info:focus {
    background-color: #117a8b !important;
}
  
.bg-warning {
    background-color: #fed136 !important;
}
  
a.bg-warning:hover, a.bg-warning:focus,
  button.bg-warning:hover,
  button.bg-warning:focus {
    background-color: #fec503 !important;
}
  
.bg-danger {
    background-color: #dc3545 !important;
}
  
a.bg-danger:hover, a.bg-danger:focus,
  button.bg-danger:hover,
  button.bg-danger:focus {
    background-color: #bd2130 !important;
}
  
.bg-light {
    background-color: #f8f9fa !important;
}
  
a.bg-light:hover, a.bg-light:focus,
  button.bg-light:hover,
  button.bg-light:focus {
    background-color: #dae0e5 !important;
}
  
.bg-dark {
    background-color: #343a40 !important;
}
  
a.bg-dark:hover, a.bg-dark:focus,
  button.bg-dark:hover,
  button.bg-dark:focus {
    background-color: #1d2124 !important;
}
  
.bg-white {
    background-color: #fff !important;
}
  
.bg-transparent {
    background-color: transparent !important;
}
  
/** Bordas */
.border {
    border: 1px solid #dee2e6 !important;
}
  
.border-top {
    border-top: 1px solid #dee2e6 !important;
}
  
.border-right {
    border-right: 1px solid #dee2e6 !important;
}
  
.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}
  
.border-left {
    border-left: 1px solid #dee2e6 !important;
}
  
.border-0 {
    border: 0 !important;
}
  
.border-top-0 {
    border-top: 0 !important;
}
  
.border-right-0 {
    border-right: 0 !important;
}
  
.border-bottom-0 {
    border-bottom: 0 !important;
}
  
.border-left-0 {
    border-left: 0 !important;
}
  
.border-primary {
    border-color: #fed136 !important;
}
  
.border-secondary {
    border-color: #6c757d !important;
}
  
.border-success {
    border-color: #28a745 !important;
}
  
.border-info {
    border-color: #17a2b8 !important;
}
  
.border-warning {
    border-color: #fed136 !important;
}
  
.border-danger {
    border-color: #dc3545 !important;
}
  
.border-light {
    border-color: #f8f9fa !important;
}
  
.border-dark {
    border-color: #343a40 !important;
}
  
.border-white {
    border-color: #fff !important;
}
  
/** Arrendondamento */
.rounded-sm {
    border-radius: 0.2rem !important;
}
.rounded {
    border-radius: 0.25rem !important;
}
  
.rounded-top {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}
  
.rounded-right {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
  
.rounded-bottom {
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
  
.rounded-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
  
.rounded-lg {
    border-radius: 0.3rem !important;
}
  
.rounded-circle {
    border-radius: 50% !important;
}
  
.rounded-pill {
    border-radius: 50rem !important;
}
  
.rounded-0 {
    border-radius: 0 !important;
}

/** Margin Auto*/
.m-auto {
    margin: auto !important;
}
  
.mt-auto,
.my-auto {
    margin-top: auto !important;
}
  
.mr-auto,
.mx-auto {
    margin-right: auto !important;
}
  
.mb-auto,
.my-auto {
    margin-bottom: auto !important;
}
  
.ml-auto,
.mx-auto {
    margin-left: auto !important;
}