@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import 'scroll.css';

/* RESET PAGE */
*{
	margin: 0px;
	padding: 0px;
	outline: 0px;
	font-size: 100%;
	background: transparent;
	box-sizing: border-box;
	color: #000;
}
body{
	overflow: scroll;  /* Sempre aparece a barra de rolagem. */
	overflow-x: hidden /* Não aparece a a barra horizontal.  */
}
::selection {
  background: #252D86;
  color: #DF1C23;
}


/*////////////////*/
/* CONTAINER DO CABEÇALHO */
/*////////////////*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 0.65rem;
  padding-left: 0.65rem;
  margin-right: auto;
  margin-left: auto;
}
/*////////////////*/


/*////////////////*/
/*////////////////*/
/* LISTA DE MENU */
/*////////////////*/
/*/////////////// */
/*
/? Change Background-Color the Container Menu
/? width < 992
*/
#mainNav {
  background-color: #fff;
}
/*/////////////// */
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    color: #4169e1;
    letter-spacing: 0.0625em;
    text-decoration: none;
    background-color: transparent;
    transition: margin-right 0.25s ease-in-out;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ef4c4c;
    margin-right: 5px;
}
/*////////////////*/
/*////////////////*/
/* RESPONSIVIDADE */
/*////////////////*/
@media (min-width: 992px) {
  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    background-color: transparent;
    /* background-color: #fff; */
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
    height: 53px;
    transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    background-color: #ffffff;
    /* background-color: #212529; */
  }
  /* #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  } */
  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 45px;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}
/*////////////////*/
/*////////////////*/
/* LISTA DE LINKS */
/*////////////////*/
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
/*////////////////*/
/*////////////////*/
/* ESPAÇAMENTO SUPERIOR DO MENU */
/*////////////////*/
.navbar-toggler + .navbar-collapse.show {
  margin-top: 0;
}
/*////////////////*/


/*////////////////*/
/*////////////////*/
/* TAMANHO DA IMAGEM */
/*////////////////*/
#mainNav .navbar-brand img {
   height: 50px;
}
.navbar-brand {
    display: flex;
    margin-right: 1rem;
    /* font-size: 1.25rem; */
    line-height: center;
    white-space: nowrap;
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}
/*////////////////*/


/*////////////////*/
/*////////////////*/
/* EFFECT HAMBURGER MENU */
/*////////////////*/
.hamburger-menu {
  display: flex;
  border-radius: 5px;
  background-color: #252D86;;
  justify-content: center;
  align-items: center;
}
.hamburger-menu #checkbox-menu{
  position: absolute;
  opacity: 0;
}
.hamburger-menu label{
  cursor: pointer;
  position: relative;
  display: block;
  height: 31px;
  width: 40px;
  padding: 5px;
  margin: 0;
}
.hamburger-menu label span{
  position: absolute;
  display: block;
  height: 5px;
  width: 30px;
  border-radius: 30px;
  background: #DF1C23;
  transition: 0.25s ease-in-out;
}
.hamburger-menu label span:nth-child(1){
  top: 5px
}
.hamburger-menu label span:nth-child(2){
  top: 13px;
}
.hamburger-menu label span:nth-child(3){
  top: 21px;
}
.hamburger-menu #checkbox-menu:checked + label span:nth-child(1){
  transform: rotate(-45deg);
  top: 13px;
}
.hamburger-menu #checkbox-menu:checked + label span:nth-child(2){
  opacity: 0;
}
.hamburger-menu #checkbox-menu:checked + label span:nth-child(3){
  transform: rotate(45deg);
  top: 13px;
}
/*////////////////*/
/*////////////////*/
/* DELETE BORDER */
/*////////////////*/
.navbar-toggler {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
.navbar-toggler:active, .navbar-toggler:focus {
  border: 0;
  outline: 0;
}
.navbar-toggler.collapsed {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
.navbar-toggler.collapsed:active, .navbar-toggler.collapsed:focus {
  border: 0;
  outline: 0;
}
/*////////////////*/


/*////////////////*/
/*////////////////*/
/* CONTAINER FEATURED */
/*////////////////*/
header.masthead {
    position: relative;
    padding-top: 17.5rem; 
    padding-bottom: 13rem;
    text-align: center;
    color: #fff;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
header.masthead .container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

}
header.masthead .masthead-subheading {
  color: #fff;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: 'Chakra Petch', Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  color: #fff;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading + a {
  height: 69px;
  width: 224px;
  color: #fff;
  border-color: #ef4c4c;
  background-color: #ef4c4c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* font-size: 3.25rem; */
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading + a:hover{
  border-color: #ef4c4c;
  background-color: #DF1C23;
}
header.masthead .container-overlay{
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    /* background-image: linear-gradient(45deg, rgb(36, 45, 138, 0.75), rgb(223, 28, 35, 0.75)); */
}
@media (min-width: 768px) {
    header.masthead {
      padding-top: 24rem;
      padding-bottom: 19.5rem;
    }
    header.masthead .masthead-subheading {
      font-size: 2.25rem;
      font-style: italic;
      line-height: 2.25rem;
      margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-bottom: 4rem;
    }
}
/*////////////////*/


/*////////////////*/
/*////////////////*/
/* PAGES DO CONTEUDO  */
/*////////////////*/
.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Chakra Petch', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: 'Chakra Petch', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
/*////////////////*/


/*////////////////*/
/*////////////////*/
/* ALL RESPONSIVIDADE */
/*////////////////*/
/* 576px */
@media (min-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
  }
@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}
/* 991.98px */
@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
  /*////////////////*/
  /* AUMENTAR ESPAÇAMENTO SUPERIOR DO MENU */
  .navbar-toggler + .navbar-collapse.show {
    padding-top: 25px;
    transition: padding-top 0.15s ease-in-out;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  /*////////////////*/
  /* HIDE BUTTON MENU | MIN-WIDTH: 992px  */
  .navbar .navbar-toggler {
    display: none;
  }
}
/*////////////////*/


.fade {
    transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: none;
    }
}
.fade:not(.show) {
    opacity: 0;
}
/* .collapse:not(.show) {
    display: none;
} */